




{% load static %}
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h1 class="useful_text"> Контакты </h1>
                <div class="location_text"><img src="{% static "images/map-icon.png" %}"><span class="padding_left_10"><a href="#">Самара</a></span></div>
                <div class="location_text"><img src="{% static "images/call-icon.png" %}"><span class="padding_left_10"><a href="#">(8937 00 00 00)</a></span></div>
                <div class="location_text"><img src="{% static "images/mail-icon.png" %}"><span class="padding_left_10"><a href="#">orbita.route@yandex.ru</a></span></div>
                <div class="social_icon">
                    <ul>
                        <li><a href="#"><img src="{% static "images/fb-icon.png" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/twitter-icon.png" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/instagram-icon.png" %}"></a></li>
                        <li><a href="#"><img src="{% static "images/linkedin-icon.png" %}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer section end -->


<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text"><a href="#">Все права защищены 2022 </a></p>
    </div>
</div>
<!-- copyright section end -->
